<%# ユーザの登録情報　編集画面 %>

<div class="row">
  <div class="col-xs-12  col-md-6 col-md-offset-3">
		<h1>ユーザ情報　編集</h1>
    <%= render 'layouts/error_messages', message: @user %>
    
    <%= render 'form', user: @user %>
  </div>
</div>
